# Archivo de configuración maestro de NPM de este proyecto que controla cómo 
# se interactúa con los servidores de Node 
# (Tambien se puede hacer una config global en el directorio de instalacion de Node o con comandos directos
# como npm config set min-release-age 7)
ignore-scripts=true
audit=true
