@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rescato algunos estilos de la propuesta inicial del proyecto y agrego otros */

/* Tarjetas de cristal para div */
@layer components{
    .tarjeta-cristal{
        /* 1. Translucidez: Fondo negro con un 15% de opacidad */
        background: rgba(0, 0, 0, 0.15);    
        /* 2. La magia: Desenfoca lo que está detrás del elemento */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); /* Necesario para que funcione en Safari/Apple */    
        /* 3. Borde sutil: Un borde blanco muy transparente para simular el filo */
        border: 1px solid rgba(255, 255, 255, 0.3);    
        /* 4. Sombra: Sombra suave y amplia para que parezca flotar */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);    
        /* Extras: Curvas para un diseño más amigable */
        border-radius: 26px; 
        padding: 30px;
    }
    .tarjeta-cristal-2{
        background: rgba(0, 0, 0, 0.45);    
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);    
        border: 1px solid rgba(255, 255, 255, 0.3);    
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);    
        border-radius: 26px; 
        padding: 30px;
    } 
}

/* Animacion para el fondo de catalogo */
@layer utilities {
    @keyframes descenderFondo {
        0% { background-position: top center; }
        100% { background-position: bottom center; }
    }

    .animacion-descenso {
        animation: descenderFondo 10s ease-in-out forwards;
    }
}

/* Clase personalizada para un scrollbar minimalista y temático */
.scrollbar-abisal::-webkit-scrollbar {
    width: 6px; /* Delgado */
}
.scrollbar-abisal::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3); /* Fondo oscuro semitransparente */
    border-radius: 8px;
}
.scrollbar-abisal::-webkit-scrollbar-thumb {
    background: #ff4500;
    border-radius: 8px;
}
.scrollbar-abisal::-webkit-scrollbar-thumb:hover {
    background: #ff6347; /* Un tono más claro al pasar el mouse */
}

/* Sobreescribir el fondo de autocompletado del navegador */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    /* -webkit-box-shadow: 0 0 0 30px inset !important;  */
    -webkit-text-fill-color: #FFC800 !important;
    transition: background-color 5000s ease-in-out 0s; /* Evitar destellos */
}